---
title: Digital Fabrication Workshop
---

<!doctype html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <meta name="description" content="In a 5 day workshop (15-21 February 2020), students at IDC School of Design designed musical instruments for the differently abled people comprising of visually impaired, hand amputees and paraplegic individuals.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">



    <meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="rating" content="General">



<link rel="icon" sizes="192x192" href="{{ site.baseurl }}img/robotics.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}img/robotics.png">



<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:image" content="{{ site.baseurl }}{{ page.cover }}">
<meta property="og:description" content="In a 5 day workshop (15-21 February 2020), students at IDC School of Design designed musical instruments for the differently abled people comprising of visually impaired, hand amputees and paraplegic individuals.">
<meta property="og:site_name" content="https://info-design-lab.github.io/">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="Information Design Lab">




    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
</head>

<body>
    <div class="container">
        <section class="navbar container os">

                {% include navbar_inner.html %}
        </section>


        <div class="loader">
            <section class="content">
                {% if page.layout == 'post' %}
                <div class="sticky-nav nav-up">
                    <div class="container os">
                            {% include navbar_inner.html %}
                    </div>
                </div>
                {% endif %}
                {{ content }}
            </section>
        </div>

        <section class="footer">
            <div class="made fs">
                Designed by IDCians, Created at Maker’s Asylum
            </div>
        </section>


    </div>



    <script src="{{ site.baseurl }}js/vendor/pjax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}js/main.js"></script>

</body>

</html>
