---
title: Home | https://info-design-lab.github.io/
layout: default
---
<div class="child">

    <div class="vizs">
    </div>


<div class="container-text heading-flex">
    <div class="heading fs">
        <div class="tagline">
            <div class="os label">DE 614 <span>M.Des 2021</span></div>
            Digital Fabrication<br>
            Workshop
        </div>
    </div>
    <div class="prof fs">
        <div class="img">
            <img src="{{site.baseurl}}img/vaibhav.jpeg" alt="">
        </div>
        <div class="name">Vaibhav Chhabra<br><span>Makers Asylum</span></div>

        <div class="img">
            <img src="{{site.baseurl}}img/amit.jpeg" alt="">
        </div>
        <div class="name">Amit Jena<br><span>IDC School of Design</span></div>
    </div>
</div>

<div class="post-content container-text">
        {{ content }}
    </div>

    <div class="projects">


            <div class="project-card by2">
                    <a href="posters/armStrum.jpg" target="_blank">
                        <div class="cover" style="background-image: url('{{site.baseurl}}img/armstrum.jpg')"></div>
                    </a>
                    <div class="text">
                            <div class="overflow-box">
                                    <div class="os">Team One</div>
                                    <div class="fs">ArmStrum</div>
                                    <div class="charter">Designing a guitar accessory that includes single-hand amputees in the user-base of electric guitar players and shoppers.</div>
                            </div>
                    </div>
                    <div class="medium"><a href="https://rishi4git.github.io/Guitar.io/" target="_blank">Read more

    <svg width="24px" height="10px" viewBox="0 0 24 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1080p" transform="translate(-1464.000000, -1534.000000)" fill-rule="nonzero" stroke="#4D8FD5">
                <g id="Group-2" transform="translate(402.000000, 1113.000000)">
                    <g id="Group-Copy-2" transform="translate(766.000000, 0.000000)">
                        <g id="Group-3" transform="translate(160.000000, 414.000000)">
                            <g id="Group-9" transform="translate(136.000000, 7.000000)">
                                <path d="M0.780607021,5.12893613 L22.4931941,5.12893613" id="Path"></path>
                                <polyline id="Path-2" points="18.4365803 0.613480209 22.6695678 5.11016947 18.4365803 9.60685873"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    </a>
                    </div>

                </div>




                <div class="project-card by2">
                    <a href="posters/miDoRe.jpg" target="_blank">
                        <div class="cover" style="background-image: url('{{site.baseurl}}img/miDoRe.jpeg')"></div>
                    </a>
                    <div class="text">
                            <div class="overflow-box">
                                    <div class="os">Team Two</div>
                                    <div class="fs">MiDoRe</div>
                                    <div class="charter">An assistive wearable device for the visually impaired, to learn, read and play sheet music in real time.</div>
                            </div>
                    </div>
                    <div class="medium"><a href="https://sugandha-katoch.github.io/MiDoRe/" target="_blank">Read more

    <svg width="24px" height="10px" viewBox="0 0 24 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1080p" transform="translate(-1464.000000, -1534.000000)" fill-rule="nonzero" stroke="#4D8FD5">
                <g id="Group-2" transform="translate(402.000000, 1113.000000)">
                    <g id="Group-Copy-2" transform="translate(766.000000, 0.000000)">
                        <g id="Group-3" transform="translate(160.000000, 414.000000)">
                            <g id="Group-9" transform="translate(136.000000, 7.000000)">
                                <path d="M0.780607021,5.12893613 L22.4931941,5.12893613" id="Path"></path>
                                <polyline id="Path-2" points="18.4365803 0.613480209 22.6695678 5.11016947 18.4365803 9.60685873"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    </a>
                    </div>

                </div>





                <div class="project-card by2">
                    <a href="posters/drumSuit.jpg" target="_blank">
                        <div class="cover" style="background-image: url('{{site.baseurl}}img/drumsuit.png')"></div>
                    </a>
                    <div class="text">
                            <div class="overflow-box">
                                    <div class="os">Team Three</div>
                                    <div class="fs">Drum Suit</div>
                                    <div class="charter">A kit for visually impaired children that can be used for playing drums with sensor pads attached to their body.</div>
                            </div>
                    </div>
                    <div class="medium"><a href="https://alensouthland.github.io/Drum-Suit/" target="_blank">Read more

    <svg width="24px" height="10px" viewBox="0 0 24 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1080p" transform="translate(-1464.000000, -1534.000000)" fill-rule="nonzero" stroke="#4D8FD5">
                <g id="Group-2" transform="translate(402.000000, 1113.000000)">
                    <g id="Group-Copy-2" transform="translate(766.000000, 0.000000)">
                        <g id="Group-3" transform="translate(160.000000, 414.000000)">
                            <g id="Group-9" transform="translate(136.000000, 7.000000)">
                                <path d="M0.780607021,5.12893613 L22.4931941,5.12893613" id="Path"></path>
                                <polyline id="Path-2" points="18.4365803 0.613480209 22.6695678 5.11016947 18.4365803 9.60685873"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    </a>
                    </div>

                </div>



        </div>


</div>
